/* Scrollbar Styling */

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border: 1px solid #121212;
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  border-radius: 90px;
  background-color: #000000;
}

/* MovieList Component Styling */

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  max-width: 300px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay-bottom,
.image-container:hover .overlay-top {
  opacity: 1;
}

.overlay-top {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
  font-size: 20px;
  padding: 30px 20px 20px 20px;
  text-align: center;
}

.overlay-top a {
  text-decoration: none;
  color: #ffffff;
}

.overlay-bottom {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px 20px 30px 20px;
  text-align: center;
}
